*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h-75px{
    height: 75px;
    background-color: #001534;
}

/* HEADER */
header .col-6 div{
    height: 75px;
}

img{
    height: 100%;
}

/* MAIN */
.c-square{
    max-width: 850px;
    height: auto;
}

.sq-red{
    width: 80px;
    height: 80px;
    background-color: red;
    color: white;
    border: 1px solid black;
}
